# Capitulo 2
### Declaración de variables

In [25]:
mi_variable = 15
print(mi_variable)

15

In [26]:
mi_cadena = "Hola Mundo!"
mi_cadena_multilinea = """
Esta es una cadena
de varias lineas
"""
print(mi_cadena)
print(mi_cadena_multilinea)

Hola Mundo!

Esta es una cadena
de varias lineas

In [27]:
edad = 35
print(edad)

edad2 = 0o43
print(edad2)

edad3 = 0x23
print(edad3)

verdadero = True
falso = False

35
35
35

### Operaciones aritmeticas

In [28]:
monto_bruto = 175
tasa_interes = 12
monto_interes = monto_bruto * tasa_interes / 100
tasa_bonificacion = 5
importe_bonificacion = monto_bruto * tasa_bonificacion /100
monto_neto = (monto_bruto - importe_bonificacion) + monto_interes
print(monto_neto)

187.25

### Manejo de comentarios

In [29]:
# Comentarios

# Comentario de una sola linea
mi_variable = 15

"""Y este es un comentario
de varias lineas"""
mi_variable = 15

mi_variable = 15  # Comentario de una sola linea

### Tuplas

In [30]:
mi_tupla = ('caracteres', 15, 2.8, 'mas caracteres', 25)
print(mi_tupla[1])

print(mi_tupla[1:4])
print(mi_tupla[3:])
print(mi_tupla[:2])

print(mi_tupla[-1])
print(mi_tupla[-2])

15
(15, 2.8, 'mas caracteres')
('mas caracteres', 25)
('caracteres', 15)
25
mas caracteres

### Listas

In [31]:
mi_lista = ['caracteres', 15, 2.8, 'mas caracteres', 25]

print(mi_lista[1])
print(mi_lista[1:4])
print(mi_lista[-2])

mi_lista[2]=3.8
print(mi_lista[:])

mi_lista.append('Nuevo dato')
print(mi_lista[:])

15
[15, 2.8, 'mas caracteres']
mas caracteres
['caracteres', 15, 3.8, 'mas caracteres', 25]
['caracteres', 15, 3.8, 'mas caracteres', 25, 'Nuevo dato']

### Diccionarios

In [32]:
mi_diccionario = {'clave_1': 'valor_1', 'clave_2': 'valor_2',\
                 'clave_7': 'valor_7'}
print(mi_diccionario['clave_2'])

del(mi_diccionario['clave_2'])
print(mi_diccionario)

mi_diccionario['clave_1']='Nuevo valor'
print(mi_diccionario)

valor_2
{'clave_1': 'valor_1', 'clave_7': 'valor_7'}
{'clave_1': 'Nuevo valor', 'clave_7': 'valor_7'}

### Asignación multiple

In [33]:
a, b, c = 'TIPO STRING', 15, True
print(a)
print(b)
print(c)

mi_tupla = ('Python', 2011)
texto, anio = mi_tupla
print(texto)
print(anio)

mi_lista = ['Mexico', 'Mexico']
pais, provincia = mi_lista
print(pais)
print(provincia)

TIPO STRING
15
True
Python
2011
Mexico
Mexico

### Condicionales

In [34]:
semaforo = "verde"
if semaforo == "verde":
    print("Cruzar la calle")
else:
    print("Esperar")

compra = 300

if compra <= 100:
    print("Pago en efectivo")
elif compra > 100 and compra < 300:
    print("Pago con tarjeta de débito")
else:
    print("Pago con tarjeta de crédito")
total_compra = 100
if total_compra > 100:
    tasa_descuento = 10
    importe_descuento = total_compra * tasa_descuento / 100
    importe_a_pagar = total_compra - importe_descuento
    print("Su total a pagar con descuento es de: ", importe_a_pagar)
else:
    print("No aplica para descuento, su total a pagar es de: ", total_compra)

Cruzar la calle
Pago con tarjeta de crédito
No aplica para descuento, su total a pagar es de:  100

### Control iterativas

In [35]:
anio = 2001
while anio <=2012:
    print("Informes del año", str(anio))
    anio += 1
while True:
    nombre = 'Francisco'
    if nombre:
        break

Informes del año 2001
Informes del año 2002
Informes del año 2003
Informes del año 2004
Informes del año 2005
Informes del año 2006
Informes del año 2007
Informes del año 2008
Informes del año 2009
Informes del año 2010
Informes del año 2011
Informes del año 2012

### Bucle for

In [36]:
mi_lista = ['Francisco', 'Alan', 'Karen', 'Diana']
for nombre in mi_lista:
    print(nombre)
    
mi_tupla = ('rojo', 'rosa', 'ginda', 'rojo lava')
for color in mi_tupla:
    print(color)
#Mismo bucle pero con for
for anio in range(2001, 2013):
    print("Informes del Año", str(anio))

Francisco
Alan
Karen
Diana
rojo
rosa
ginda
rojo lava
Informes del Año 2001
Informes del Año 2002
Informes del Año 2003
Informes del Año 2004
Informes del Año 2005
Informes del Año 2006
Informes del Año 2007
Informes del Año 2008
Informes del Año 2009
Informes del Año 2010
Informes del Año 2011
Informes del Año 2012